.header {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.headerContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoIcon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--primary);
}

.logoText {
    font-size: 1.25rem;
    font-weight: bold;
}

.navList {
    display: flex;
    gap: 1rem;
}

.navLink {
    font-size: 0.875rem;
    font-weight: 500;
}

.navLink:hover {
    color: var(--primary);
}